* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* starting box_1 */
.conteinor {
  width: 400px;
  height: 200px;
  border: 0px solid;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.conteinor_main {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.child_1 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_1_1 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 1s;
}

.child_1_1:hover {
  transform: scaleX(1.5);
  filter: opacity(50%);
}

.child_2 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_2_2 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 1s;
}

.child_2_2:hover {
  transform: scaley(1.5);
  filter: opacity(60%);
}

.child_3 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_3_3 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 1s;
}

.child_3_3:hover {
  transform: scale(1.5);
  filter: opacity(60%);
}

.child_4 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_4_4 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 1s;
}

.child_4_4:hover {
  transform: translateX(10px);
  filter: opacity(60%);
}

.child_5 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_5_5 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 1s;
}

.child_5_5:hover {
  transform: translateY(10px);
  filter: opacity(60%);
}

.child_6 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_6_6 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 1s;
}

.child_6_6:hover {
  transform: translate(10px,20px);
  filter: opacity(60%);
}

.child_7 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_7_7 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 1s;
}

.child_7_7:hover {
  transform: matriX(2,2,2,-2,2,2);
  filter: opacity(60%);
}

.child_8 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_8_8 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.5s;
}

.child_8_8:hover {
  transform: rotate(-270deg);
  filter: opacity(60%);
}

.child_9 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_9_9 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.5s;
}

.child_9_9:hover {
  transform: skew(20deg,20deg);
  filter: opacity(60%);
}

.child_10 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_10_10 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.5s;
}

.child_10_10:hover {
  transform: skewx(30deg);
  filter: opacity(60%);
}

.child_11 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_11_11 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.5s;
}

.child_11_11:hover {
  transform: skewy(30deg);
  filter: opacity(60%);
}

.child_12 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_12_12 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 1s;
}

.child_12_12:hover {
  transform: matrix3d(
    0.5,0, -0.866025, 0,
    0.595877, 1.2, -1.03209, 0,
    0.866025, 0, 0.5, 0,
    25.9808, 0, 15, 1
  );
  filter: opacity(60%);
}

.child_13 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_13_13 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.5s;
}

.child_13_13:hover {
  transform: translate3d(-5ch, 0.4in, 10em);
  filter: opacity(60%);
}

.child_14 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_14_14 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.5s;
}

.child_14_14:hover {
  transform: perspective(60px) rotatey(50deg);
  filter: opacity(60%);
}

.child_15 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_15_15 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.5s;
}

.child_15_15:hover {
  transform: perspective(50px) rotatex(50deg);
  filter: opacity(60%);
}

.child_16 {
  width: 80px;
  height: 50px;
  background-color: gray;
}

.child_16_16 {
  width: 80px;
  height: 50px;
  background-color: #4ddbff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.5s;
}

.child_16_16:hover {
  transform: translatez(-50em);
  filter: opacity(60%);
}
/* ending box_1 */

/* starting box_2 */
.conteinor_1 {
  width: 800px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.conteinor_1_child_1 {
  width: 70px;
  height: 70px;
  background-color: aquamarine;
  border-radius: 10px;
  transition: all 0.5s linear;
}

.conteinor_1_child_1:hover {
  transform: scale(0.6);
}

.conteinor_1_child_2 {
  width: 70px;
  height: 70px;
  background-color:#4ddbff;
  border-radius: 10px;
  transition: all 0.5s linear;
}

.conteinor_1_child_2:hover {
  transform: scale(2);
}

.conteinor_1_child_3 {
  width: 70px;
  height: 70px;
  background-color:dodgerblue;
  border-radius: 10px;
  transition: all 1s linear;
}

.conteinor_1_child_3:hover {
  width: 40px;
  height: 150px;
}
/* ending box_2 */

/* starting box_3 */
.conteinor_3 {
  width: 800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center ;
}

.conteinor_3_child_1 {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: rgb(236, 215, 51);
  border-radius: 50%;
  left: 500px;
  animation: siroj 3s linear alternate 20;
}

@keyframes siroj {
  from {
   margin-top: 900px;
   background-color: peru;
  } to {
    margin-bottom: 0px;
    
  }
}

.conteinor_3_child_2 {
  position: absolute;
  top: 180px;
  animation: bulut 4s linear alternate 20;
} 

.bulut_1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  left: 15px;
}

.bulut_2 {
  position: absolute;
  width: 95px;
  height: 30px;
  background-color: gray;
  border-radius: 40px;
  top: 20px;
}

.bulut_3 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 20px;
  top: 8px;
  left: 52px;
}

@keyframes bulut {
  from {
    margin-left: 800px;
  } to {
    margin-right: 0px;
  }
}

.conteinor_3_child_3 {
  position: relative;
  top: 150px;
  animation: bulut1 5s linear alternate 20;
} 

@keyframes bulut1 {
  from {
    margin-right: 0px;
  } to {
    margin-left: 600px;
  }
}

.conteinor_3_child_4 {
  position: absolute;
  top: 230px;
  animation: bulut2 5s linear alternate 20;
} 

@keyframes bulut2 {
  from {
    margin-left: 0px;
  } to {
    margin-right: 600px;
  }
}

.bulut_big {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: gray;
  border-radius: 50%;
  left: 15px;
}

.bulut_big1 {
  position: absolute;
  width: 120px;
  height: 45px;
  background-color: gray;
  border-radius: 50px;
  top: 25px;
}

.bulut_big2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 20px;
  top: 8px;
  left: 63px;
}

.conteinor_3_child_5 {
  position: absolute;
  top: 150px;
  left: 100px;
  animation: bulut2 6s linear alternate 20;
} 

@keyframes bulut2 {
  from {
    margin-right: 0px;
  } to {
    margin-left: 100%;
  }
}

.conteinor_3_child_6 {
  display: flex;
  position: absolute;
  top: 340px;
  left: 200px;
}

.child_6_tog {
  width: 300px;
  height: 300px;
  background: linear-gradient(to top left, blue 50%, transparent 50%);
  transform: rotate(-135deg);
}

.child_6_tog1 {
  position: absolute;
  top: 20px;
  left: 220px;
  width: 200px;
  height: 200px;
  background: linear-gradient(to top left, blue 50%, transparent 50%);
  transform: rotate(-135deg);
}

.child_6_tog2 {
  width: 300px;
  height: 300px;
  background: linear-gradient(to top left, blue 50%, transparent 50%);
  transform: rotate(-135deg);
}
/* ending box_3 */